<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <img classs="img-responsive" width="45px" height="" src="assets/ditto.png" alt="" />
      
      
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <div class="scrollable-box">
          <div class="overflow-box">
            <ng-select [items]="items"
               bindLabel="name"
               placeholder="Search For Friends"
               appendTo="body"
               [searchable]="true"
               [(ngModel)]="selected">
     
            </ng-select>
         </div></div>
          <button type="submit" class="btn btn-dark" (click)="searchUserInput()">Logout</button>
      </div>

</nav>
<router-outlet></router-outlet>
