<div class="row spacer">
  <div class="mb-3">
    <form [formGroup]="postForm" #addPostForm="ngForm" (ngSubmit)="onPostFormSubmit($event)">
      <div class="form-group">
        <label for="postText" class="form-label">Create a Post</label>
        <br>
        <!-- Display images that will be uploaded -->
        <img *ngFor="let url of postFormImages" [src]="url" height="150" width="200px">

        <textarea class="form-control" formControlName="postText" id="postText" name="text" rows="3"
          required></textarea>
      </div>

      <!-- Image file upload -->
      <div class="form-group">
        <input type="file" formControlName="postFile" id="fileInput" class="form-control" multiple=""
          (change)="onPostFileChange($event)" accept="image/png, image/jpeg">
      </div>


      <button type="submit" [disabled]="addPostForm.invalid" class="btn btn-dark">Create</button>
    </form>
  </div>
</div>