<p>user-profile works!</p>

<app-create-post></app-create-post>


<button (click)="onClickEdit($event)">Edit Profile</button>

<form>
    <fieldset id="profileFieldset" disabled>
        <legend>User Profile</legend>
        <div class="mb-3">
            <input type="text" class="form-control" [(ngModel)]="firstName" name="firstNameInput">
            <input type="text" class="form-control" [(ngModel)]="lastName" name="lastNameInput">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" [(ngModel)]="statusText" name="statusInput">
        </div>
        <div class="mb-3">
            <input type="date" class="form-control" [(ngModel)]="targetUser.birthday" name="birthday">
            <!-- <input type="date" class="form-control" [value]="parseDate()" (input)="setBirthDate($event)" name="birthday"> -->
        </div>
        <div class="mb-3" *ngIf="editing">
            <button class="btn btn-success" (click)="onClickUpdateProfile()">Update Profile</button>
        </div>

    </fieldset>
</form>

<app-feed [userid]="targetId"></app-feed>