<div class="container mt-5">
    <div class="row">
        <h4>Enter Email address to varify password reset.</h4>
    </div>

    <div class="row">
        <div class="col-auto align-item-center">
            <span class="p-0">Email:</span>
        </div>
        <div class="col-auto">
            <input type="email" class="form-control" [(ngModel)]="userEmail" name="userEmailInput">
            <p *ngIf='emailFailed'>Invalid Email. Please try again.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-auto">
            <p>The email will be sent to:</p>
        </div>
        <div class="col-auto">
            <p *ngIf='!emailFailed'>{{userEmail}}</p>
        </div>
    </div>

    <div class="row">
        <button type="button" class="btn btn-dark" (click)=sendEmail()>Send Email</button>
    </div>

</div>
<p>Please click the link provided in the email to reset your password.</p>


<nav>
    <a routeLink='/login'>Return to Login</a>
</nav>