<div class="loadingOverlay" *ngIf="loadingHandler.isLoading$ | async">
    <img src="https://c.tenor.com/zTEMR3Ye-n0AAAAM/ditto-no-way.gif">
</div>

<div class="container mt-5">
    
    <div class="row justify-content-center">
        <div class="col-auto align-items-center">
            <div class="row mb-3">
                <p>Enter Email address to verify password reset</p>
            </div>
            <div class="row justify-content-center">
                <form #passwordForm="ngForm">
                    <div class="row mb-3">
                        <div class="col-auto align-items-center">
                            <span class="p-0">Email:</span>
                        </div>
                        <div class="col ms-2">
                            <input type="email" class="form-control" [(ngModel)]="userEmail" name="userEmailInput"
                                required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-auto">
                            <p>Sent to:</p>
                        </div>
                        <div class="col">
                            <p *ngIf='!emailFailed'>{{userEmail}}</p>
                        </div>
                    </div>

                    <p>Please click the link provided in the email to reset your password</p>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <p *ngIf='emailFailed' class="text-danger">Invalid Email. Please try again.</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark mb-3" (click)=sendEmail()
                                [disabled]="passwordForm.invalid">Send Email</button>
                            <nav>
                                <a routerLink='/login'>Return to Login</a>
                            </nav>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
