<h1>Reset Password</h1>

<form>
    <p>User Profile</p>
    <div class="mb-3">
        <input type="text" class="form-control" [(ngModel)]="targetUser.firstName" name="firstNameInput" disabled>
        <input type="text" class="form-control" [(ngModel)]="targetUser.lastName" name="lastNameInput" disabled>
    </div>
    <div class="mb-3">
        <label for="newPasswordInput" class="form-label">New Password</label>
        <input type="text" class="form-control" [(ngModel)]="targetUser.password" name="newPasswordInput">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" (click)="onClickUpdatePassword()">Update Password</button>
    </div>

</form>

<app-feed [userid]="targetId"></app-feed>